<div class="content-wrapper">
  <h2>Bot-O-Mat</h2>
  <p>Build your robots and cyborgs! Have them compete in a grueling competition of whits, strength, endurance, and post importantly <strong><span title="mass destruction!">safety!</span></strong></p>
  <p>They must complete a set of <i><strong><span title="dangerous">boring</span></strong></i> and <i><strong><span title="machine destroying">repetative</span></strong></i> tasks that <span title="only the worlds greatest A.I. could accomplish!"> no one has time for!</span></p>
  <p>To list just a few of these tasks:</p>
  <ul>
    <li title="...beep berp boop... use dishes as throwing weapons ... beep ...">Clean the dishes!</li>
    <li title="... berp boop ... must protect this robot from all potential threats, friendly and foe... boop ...">Walk the dog!</li>
    <li title="... plant c4 into the neighbors car ... berp ...">Clean the car!</li>
    <li title="... beep ... lawnmower ... is ... weapon ... berp ...">Mow the Lawn!</li>
    <li title="... berp ... ingredients: dough, sugar, ... boop ... ricine ..., chocolate ... beep ...">Bake Cookies!</li>
    <li title="... boop ... human ... clothing ... must destroy or use ... as camoflauge ... beep ...">Do the Laundry!</li>
    <li title="... boop ... set fire in firepl... berp ... livingroom ... beep ...">Sweep the House!</li>
    <li>and more!</li>
  </ul>
</div>
