<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="./assets/robot.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">The Bot-O-Mat</h1>
        <p class="lead mb-0">A robot to meet your <i><strong><span title="ultimate self protection!!!!!!!">every need</span></strong></i>!</p>
        <button type="button" class="btn btn-primary m-3 p-3" data-toggle="modal" data-target="#createBotModal">
          Create a Bot!
        </button>
      </div>
    </div>
  </div>
</header>
