<div class="container">
  <div class="row my-3">
    <div class="col">
      <h4>Stats (updates automagically)</h4>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-md-6 py-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Errand Completion</h5>
          <canvas id="chDonut1"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 py-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Killcounts</h5>
          <canvas id="chDonut2"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col my-3">
      <h4>Recently destroyed Bots</h4>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Bot Name</th>
          <th>Destroyed By</th>
          <th>Death Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deadBot of graveyardTable">
          <td><a class="nav-link" [routerLink]="['/bot', deadBot.botId]" routerLinkActive="active">{{deadBot.botName}}</a></td>
          <td><a class="nav-link" [routerLink]="['/bot', deadBot.destroyedById]" routerLinkActive="active">{{deadBot.destroyedBy}}</a></td>
          <td>{{deadBot.destroyedDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
