<div id="open-modal-detail" class="modal-window" style="z-index: 1001;">
    <div>
        <a href="#" title="Close" class="modal-close">Close (esc)</a>

        <div>
            @* http://jsfiddle.net/barney/uxPjN/ *@
            <div>
                <img id="detail_image" />
                @* botGenerated or seeded actor *@
                <span id="detail_no_image">No image... thats strange. <a target="_blank" style="color: blue;" href="https://www.lifewire.com/thmb/3KHFRyRmvqVKURMwfA0Viii9LEg=/1600x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/aliens1-5ad5062f3037130037462d1c.jpg">Aliens?</a></span>
            </div>
            <br />
            <hr />
            <br />
            <label>
                <span id="datail_name">
                </span>
            </label>
            <br />
            <label>
                <span id="datail_type">
                </span>
            </label>
        </div>
        <br />
        <div id="detail_completed_tasks_div">
            <hr />
            <br />
            I have completed the following tasks:
            <ul id="detail_completed_tasks"></ul>
        </div>
        <div id="detail_failed_tasks_div">
            <br />
            <hr />
            <br />
            I have failed these:
            <ul id="detail_failed_tasks"></ul>
            <br />
        </div>
        <br />
        <hr />
        <br />
        <div>
            I <span title="utterly decimated!!!!!!!!!!!!"><i><b>supported</b></i></span> the following other units:
            @* TODO: killed actor list *@
        </div>
        <div id="details_chat">
            {{if alive}}
            I'm lonely... talk with me?
            {{CHAT}}
        </div>
        <div>
            <a class="btn" href="#open-modal-errands" style="color:white;">
                <div class="button" id="">
                    <div class="container">
                        <div class="interior" style="padding: 5px;">
                            Assign New Tasks!
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>