<div class="bg-img bg-img-2"></div>
<h2>Kill Count</h2>
<blockquote><p>Until he extends the circle of his compassion to all living things, man will not himself find peace.</p><cite>Albert Schweitzer</cite></blockquote>