<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedVentures.Bot_O_Mat.Web</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/splitSlide/custom.css" />
    <link rel="stylesheet" href="~/css/splitSlide/demo.css" />
    <link rel="stylesheet" href="~/css/splitSlide/style.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/splitSlide/jquery.ba-cond.min.js"></script>
    <script src="~/js/splitSlide/jquery.slitslider.js"></script>
    <script src="~/js/splitSlide/modernizr.custom.79639.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    @RenderSection("Scripts", required: false)
    @RenderBody()
</body>
</html>
