@model LeaderBoardViewModel
<div class="bg-img bg-img-1"></div>
<h2>Leaderboard</h2>
<div class="split left">
    <blockquote>
        <p>Top 5 performing robots</p>
        <ol>
            @foreach (var robot in Model.Robots)
            {
                <li><strong>@robot.Name</strong> has completed <strong>@robot.CompletedErrandCount</strong> tasks</li>
            }
        </ol>
    </blockquote>
</div>
<div class="split right">
    <blockquote>
        <p>Top 5 performing cyborgs</p>
        <ol>
            @foreach (var cyborg in Model.Cyborgs)
            {
                <li><strong>@cyborg.Name</strong> has completed <strong>@cyborg.CompletedErrandCount</strong> tasks</li>
            }
        </ol>
    </blockquote>
</div>