@* leaderboard *@
<div class="bg-img bg-img-1"></div>
<h2>Leaderboard</h2>
<div class="split left">
    <blockquote>
        <p>Top 5 performing robots</p>
        <ol>
            <li><strong>alph 500 tasks completed</strong></li>
            <li><strong>alph 400 tasks completed</strong></li>
            <li><strong>alph 300 tasks completed</strong></li>
            <li><strong>alph 200 tasks completed</strong></li>
            <li><strong>alph 100 tasks completed</strong></li>
        </ol>
    </blockquote>
</div>
<div class="split right">
    <blockquote>
        <p>Top 5 performing cyborgs</p>
        <ol>
            <li><strong>alph 500 tasks completed</strong></li>
            <li><strong>alph 400 tasks completed</strong></li>
            <li><strong>alph 300 tasks completed</strong></li>
            <li><strong>alph 200 tasks completed</strong></li>
            <li><strong>alph 100 tasks completed</strong></li>
        </ol>
    </blockquote>
</div>