@model AppViewModel

<div class="container demo-2">
    <div class="codrops-top clearfix">
        <!a class="nav-link text-dark" href="/healthchecks-ui">Health-Check-UI</!a>
        <!a class="nav-link text-dark" href="/swagger">Swagger</!a>
        <a class="nav-link text-dark" asp-area="" asp-controller="WhoIs" asp-action="Index">WhoIs</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Logs" asp-action="Index">Logs</a>

        <span class="right">
            <!a class="nav-link text-dark" href="@Model.HealthCheckUIAPI">API Health-Check-UI</!a>
            <!a class="nav-link text-dark" href="@Model.SwaggerAPI">API Swagger</!a>
            <a class="nav-link text-dark" href="@Model.WhoIsAPI">API WhoIs</a>
            <a class="nav-link text-dark" href="@Model.LogsAPI">API Logs</a>
        </span>
        <div class="clr"></div>
    </div>

    <header class="clearfix" style="text-align: center;">
        @await Html.PartialAsync("_CreateActorCTA")
        @await Html.PartialAsync("_CreateActorModal")
        @await Html.PartialAsync("_CreateActorErrandsModal")
        @await Html.PartialAsync("_ErrandReportModal")
    </header>

    <div id="slider" class="sl-slider-wrapper">
        <div class="sl-slider">
            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner" style="padding-left: 15%;">
                    @await Html.PartialAsync("_LeaderBoard", Model.LeaderBoardViewModel)
                </div>
            </div>

            <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                <div class="sl-slide-inner" style="padding-left: 15%;">
                    @await Html.PartialAsync("_KillBoard", Model.KillBoardViewModel)
                </div>
            </div>

            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner" style="padding-left: 15%;">
                    @await Html.PartialAsync("_Graveyard", Model.GraveyardViewModel)
                </div>
            </div>

            <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner" style="padding-left: 15%;">
                    <partial name="_Factory" />
                </div>
            </div>
        </div>

        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
            <span></span>
        </nav>
    </div>

    <div class="content-wrapper">
        <h2>Bot-O-Mat</h2>
        <p>Build your robots and cyborgs! Have them compete in a grueling competition of whits, strength, endurance, and post importantly <strong><span title="mass destruction!">safety!</span></strong></p>
        <p>They must complete a set of <i><strong><span title="dangerous">boring</span></strong></i> and <i><strong><span title="machine destroying">repetative</span></strong></i> tasks that <span title="only the worlds greatest A.I. could accomplish!"> no one has time for!</span></p>
        <p>To list just a few of these tasks:</p>
        <ul>
            <li title="...beep berp boop... use dishes as throwing weapons ... beep ...">Clean the dishes!</li>
            <li title="... berp boop ... must protect this robot from all potential threats, friendly and foe... boop ...">Walk the dog!</li>
            <li title="... plant c4 into the neighbors car ... berp ...">Clean the car!</li>
            <li title="... beep ... lawnmower ... is ... weapon ... berp ...">Mow the Lawn!</li>
            <li title="... berp ... ingredients: dough, sugar, ... boop ... ricine ..., chocolate ... beep ...">Bake Cookies!</li>
            <li title="... boop ... human ... clothing ... must destroy or use ... as camoflauge ... beep ...">Do the Laundry!</li>
            <li title="... boop ... set fire in firepl... berp ... livingroom ... beep ...">Sweep the House!</li>
            <li>and more!</li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="~/js/splitSlide/jquery.ba-cond.min.js"></script>
<script type="text/javascript" src="~/js/splitSlide/jquery.slitslider.js"></script>
<script type="text/javascript">
    $(function () {
        var Page = (function () {
            var $navArrows = $('#nav-arrows'),
                $nav = $('#nav-dots > span'),
                slitslider = $('#slider').slitslider({
                    onBeforeChange: function (slide, pos) {
                        $nav.removeClass('nav-dot-current');
                        $nav.eq(pos).addClass('nav-dot-current');
                    }
                }),

                init = function () {
                    initEvents();
                },
                initEvents = function () {
                    // add navigation events
                    $navArrows.children(':last').on('click', function () {
                        slitslider.next();
                        return false;
                    });

                    $navArrows.children(':first').on('click', function () {
                        slitslider.previous();
                        return false;
                    });

                    $nav.each(function (i) {
                        $(this).on('click', function (event) {
                            var $dot = $(this);
                            if (!slitslider.isActive()) {
                                $nav.removeClass('nav-dot-current');
                                $dot.addClass('nav-dot-current');
                            }
                            slitslider.jump(i + 1);
                            return false;
                        });
                    });
                };
            return { init: init };
        })();

        Page.init();
    });
</script>
