<div class="container">
  <h2>Completed Errands</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Errand</th>
        <th>Time To Complete</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>
  <h2>Queued Errands</h2>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Errand</th>
        <th>Queue Position</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
      </tr>
    </tbody>
  </table>
</div>
